#tank {
  position: relative;
  right: -34px;
  width: 400px;
  height: 500px;
  margin: 3% auto;

  background-image: url("/static/images/2014-tank.svg");
  background-size: 200%;
  cursor: pointer;
}

@media screen and (max-width:480px) {
  #tank {
    right: -8%;
    height: 0; 
    width: 80%; 
    padding-bottom: 100%;
    margin: 10% auto;
  }
}

@-webkit-keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}
@-moz-keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}
@-o-keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}
@keyframes flicker {
  0%, 37%, 63% { background-position: 0 100%; }
  25%, 49%, 100% { background-position: 100% 100%; }
}

.plugged {
  -webkit-animation: flicker 1200ms steps(1) 1;
  -moz-animation: flicker 1200ms steps(1) 1;
  -o-animation: flicker 1200ms steps(1) 1;
  animation: flicker 1200ms steps(1) 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  background-position: 100% 100%;
}

.unplugged {
  background-position: 0 0;
}

