* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7c600;
  font-family: sans-serif;
}

a,
a:HOVER,
body { color: #231f20; }

a { text-decoration: none; }
a:HOVER { text-decoration: underline; }

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.header { margin-top: 15%; }

.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer span {
  margin: auto 3px;
}

.text-mono { font-family: monospace; }
.text-center { text-align: center; }

.text-md { font-size: 1.75em; }
.text-sm { font-size: 1.15em; }

.text-light { font-weight: 300; }
.text-heavy {
  font-weight: 700;
  font-style: italic;
}

.flex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-content { flex: 1; }
