<!DOCTYPE html>
<html>
  <head>
    <title>Logitank Labs</title>
    <link href="/static/images/favicon.png" rel="icon" type="image/png">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="flex container text-center">
      <section class="header flex-content">
        {{ content }}
      </section>
      <footer class="footer text-sm">
        <span class="text text-heavy text-underline">
          <a href="https://github.com/abtrout">abtrout,</a>
        </span>
        <span class="text-mono text-light">
          {% assign posts = site.posts | reverse %}
          {% for p in posts %}<a href="{{ p.url }}" {% if p.year == page.year %}class="text-heavy"{% endif %}>{{ p.year }}</a>{% unless forloop.last %}/{% endunless %}{% endfor %}
        </span>
      </footer>
    </div>
  </body>
</html>
